<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<div class="header flex">
    <div class="filter-container">
        <select id="filter" onchange="filterCreatures()">
            <option value="all">All</option>
            <option value="magical">Magical</option>
            <option value="pets">Pets</option>
            <option value="skills">Skills</option>
            <option value="teams">Teams</option>
            <option value="characters">Characters</option>
            <option value="beasts">Beasts</option>
            <option value="spells">Spells</option>
        </select>
    </div>
    <div class="search-container">
        <input type="text" placeholder="Search" class="btn" id="searchInput">
    </div>
</div>
    <h3><a href="/" class="home"><i class="fa-solid fa-house" style="color: #00ffff;"></i></i></a></h3>
    <h1 class="favo">Favorites</h1>
    <h3 class="helloun">Hello, {{ username }}!, here are your favorites</h3>
        <div class="single flex">
            {% for item in favorites_data %}
            <div class="popup" id="popup-{{ item._id }}">
                <div class="overlay"></div>
                <div class="contenta">
                    <div class="close-btn" onclick="togglePopup('popup-{{ item._id }}')">&times;</div>
                    <h2>{{ item.heading }}</h2>
                    <img src="{{ item.image_url }}" alt="">
                    <p>{{ item.content }}</p>
                </div>
            </div>
            <div class="content {{item.category}}" onclick="togglePopup('popup-{{ item._id }}')" data-title="{{ item.heading }}">
                <div class="heading flex">
                    <form action="/remove_from_favorites/{{ item._id }}" method="post">
                        <button type="submit"><i class="fa-solid fa-trash"></i></button>
                    </form>
                    <h2>{{ item.heading }}</h2>
                </div>
                <img src="{{ item.image_url }}" alt="">
            </div>
            {% endfor %}
        </div>
    <script src="https://kit.fontawesome.com/2c35cb5dcf.js" crossorigin="anonymous"></script>
    <script src="/static/script.js"></script>
</body>
</html>