<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css">
    <title>Sign Up</title>
</head>
<body>
    <h1>Signup</h1>
    <form action="/signup" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="SignUp">
    </form>
    <div class="old">
        <h1>Already have an account? Login <a href="/login">here</a></h1>
    </div>
    <div>
        {% if signup_message_error %}
            <h3>{{signup_message_error}}</h3>
            {% endif %}
        {% if existing_user %}
            <h3>{{existing_user}}</h3>
            {% endif %}
        {% if account_created %}
            <h3>{{account_created}}</h3>
            {% endif %}
    </div>
</body>
</html>