@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,700&display=swap');
body{
    font-family: 'Poppins', 'sans-serif';
}
a{
    color: aliceblue;
    display: inline-block;
    text-decoration: none;
}
a:hover{
    color: rgb(0, 195, 255);
    transition: 2ms ease-in-out;
}
.flex{
    display: flex;
    align-items: center;
}
.hogwarts{
    width: 100%;
    position: absolute;
}
.menu{
    
    padding-top: 10px;
    position: relative;
    justify-content: space-between;
    gap: 30px;
    justify-content: flex-end;
}
.search{
    background-color: rgb(136, 0, 255);
    padding: 3px 10px;
    border-radius: 10px;
}
.welcome{
    font-family: 'Poppins','sans-serif';
    color: rgb(238, 255, 0);
    font-size: large;
    position: absolute;
    padding-top: 33%;
    padding-left: 5%;
    z-index: 1;
}
.teams{
    justify-content: space-between;
}
/* .teams img{
    padding-top: 55%;
    gap: 40px;
    max-width: 23%;
    z-index: 1;
}
.name{
    max-width: 100%;
    gap: 40px;
    justify-content: space-between;
} */
.teams{
    max-width: 23%;
    padding-top: 55%;
    position: relative;
    z-index: 1;
}
.single{
    flex-direction: column;
}
.single h2{
    color:#FF914D;
    /* -webkit-text-stroke:1px black; */
    font-family: 'barlow condensed';
    font-size:2.8rem;
    margin-top: 145%;
    position: absolute;
    background-color: red;
    padding: 6px 16px;
    border-radius: 15px;
}