@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.flex{
    display: flex;
}
body{
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    cursor: pointer;
}
h2{
    font-family: poppins;
    font-size: xx-large;
    color: rgb(0, 0, 0);
}
.navbar{
    /* background-image: url(./assets/hogwartsff.jpg); */
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.9)), url(./assets/harrypflying.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
    padding-bottom: 600px;
    background-repeat:no-repeat;
    justify-content: space-between;
    background-blend-mode: overlay;
}
.menu a{
    color: rgb(0, 8, 255);
    font-family: poppins;
    font-size: larger;
    font-weight: bolder;
}
.menu{
    padding-top: 45px;
    padding-right: 45px;
    gap: 40px;
}
.harrypotterww{
    width: 220px;
    align-items: center;
    /* margin-left: 120px; */
}
input::placeholder{
    font-family: Poppins;
    color: rgb(0, 8, 255);
    font-size: large;
    align-items: center;
}
.btn{
    border: 3px solid blue;
    border-radius: 50px;
    background-color:rgb(0, 213, 255);
    width: 100px;
    height: 30px;
    text-align: center;
    font-weight: bolder;
}
.circle{
    padding: 50px 50px;
    color: aqua;
}

.hogwarts{
    background: linear-gradient(rgb(9, 9, 9,0.5),rgba(13, 26, 54, 0.9)), url(./assets/bg.jpg);
    background-size:contain;
    width: 100%;
    height: auto;
    padding-bottom: 600px;
    background-repeat:no-repeat;
    text-align: center;
    justify-content: space-between;
}
.stand{
    padding-left: 10%;
    height: 700px;
    margin-top: 10%;
}
.info{
    width: 60%;
    margin-top: 10%;
    margin-bottom: 20%;
    padding-right: 7%;
}