body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

form {
    width: 300px;
    margin: 0 auto;
}

input {
    width: 100%;
    padding: 10px;
    border: 2px solid aqua;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    cursor: pointer;
}
