@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1dd1a1;
    font-family: 'poppins';
    transition: 0.5s;
}

.signup{
    position: relative;
    padding: 50px;
    background: #fff;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
}
.signup h1{
    font-weight: 500;
    border-left: 15px solid #1dd1a1;
    line-height: 1em;
    padding-left: 10px;
    transition: 0.5s;
    color: #333;
}
.signup input{
    position: relative;
    width: 91%;
    padding: 15px;
    outline: none;
    border: 2px solid #000000;
    font-size: 1em;
    color: #333;
}
.username{
    margin-bottom: 25px;
}
.password{
    margin-bottom: 25px;
}
input[type="submit"]{
    border: none;
    background: #1dd1a1;
    color: #fff;
    transition: 0.5s;
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
    width: 400px;
}
.colors{
    position: absolute;
    right: 0;
    padding: 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.colors span{
    position: relative;
    width: 20px;
    height: 20px;
    background: var(--clr);
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.colors span.active{
    border: 2px solid #333;
    scale: 1.25;
    transition: 0.5s;
}
.new a{
    text-decoration: underline;
    color: var(--clr);
}